<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
	<parameter name="CHROME_DRIVER_PATH" value="D:\\JarFiles\\driver\\ChromeDriver\\chromedriver.exe"></parameter>
	<parameter name="IE_DRIVER_PATH" value="D:\\JarFiles\\driver\\IEDriver\\MicrosoftWebDriver.exe"></parameter>
	<parameter name="GECKO_DRIVER_PATH" value="D:\\JarFiles\\driver\\GeckoDriver\\geckodriver.exe"></parameter>
	<parameter name="OUTPUT_PATH" value="E:\\Output\\"></parameter>
	<parameter name="IMAGES_PATH" value="E:\\Images\\"></parameter>
	<parameter name="iWaitForElement" value="20"></parameter>
	<test name="Test">
		<parameter name="browser" value="firefox"></parameter>
		<parameter name="DATA_PATH" value="data/data.xlsx"></parameter>
		<parameter name="SHEET" value="Sheet1"></parameter>
		<parameter name="TESTCASES" value="1"></parameter>
		<classes>
			<class name="wcTest.WCTest" />
			<class name="lib.CommonClass" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
